body {
  background: #ede6dd;
  font-family: "Open sans", sans-serif;
}

h1 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #9a6d5b;
}

p {
  font-size: 1.2rem;
  color: #ede6dd;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.result {
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  background: #c49d7c;
  border: 1px solid #cac8cb;
  border-radius: 1rem;
}

.success {
  border: 1px solid green;
  padding: 1rem;
  color: green;
  background: rgba(0, 255, 0, 0.1);
}

.error {
  border: 1px solid darkred;
  padding: 1rem;
  color: darkred;
  background: rgba(255, 0, 0, 0.1);
}

.loader {
  border: 16px solid #cac8cb;
  border-top: 16px solid #818d9a;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
